@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}


.react-grid-layout {
  background: #f0f0f0;
  padding: 10px;
}
.react-grid-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}